* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
=======
body {
    background-color: #0b0b0b;
<<<<<<< HEAD
    color: whitesmoke;
}
=======
}
>>>>>>> ab3147259f5c27377527d157dd18a35cadc9338a
