.nav {
  background-color: #000;
<<<<<<< HEAD
  padding: 32px 164px;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 16px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu li:first-child {
  margin-right: 443px;
}

.menu li:not(:first-child):not(:last-child)::after {
  content: "|";
  margin-left: 16px;
  margin-right: 16px;
  color: white;
  user-select: none;
}