.menu {
  display: flex;
  list-style: none;
  background-color: black;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menu a {
  color: white;
}

.logo {
  height: 40px;
  width: auto;
}