.produtos-container {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    padding: 120px;
}
.produtos-cards-tarde, .produtos-cards-portal {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content:flex-start;
    padding-top: 50px;  
}

.produtos-colecao {
    text-align:start;
    padding: 50px 50px 0;
}