.title {
    font-size: 48px;
    font-weight: 700;
}
.header{
    width: 99vw;
  height: a;
}

.header img{
    width: 100%;
    height: 100%;
}
.sobre-nos {
    margin: 5%;
    padding: 10px;
    max-width: 600px;

}

.eventos-stellaris {
    text-align: center;
    margin: 5%;
    padding: 10px;
    
}

.produtos-stellaris {
    text-align: center;
    margin: 5%;
    padding: 10px;

}

.missao {
    margin: 5%;
    border: 1px, solid rgb(78, 78, 78);
    padding: 10px;
    border-radius: 5px;
}

