.title {
    font-size: 48px;
    font-weight: 700;
}
.sub-title{
    font-size: 18px;
    color: #c2c2c2;

}



.sobre-nos {
    margin: 5%;
    border: 1px, solid rgb(78, 78, 78);
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;

}

.eventos-stellaris {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5%;
    border: 1px solid rgb(78, 78, 78);
    padding: 10px;
    border-radius: 5px;
    
}

.produtos-stellaris {
    text-align: center;
    margin: 5%;
    border: 1px, solid rgb(78, 78, 78);
    padding: 10px;
    border-radius: 5px;

}

.missao {
    margin: 5%;
    border: 1px, solid rgb(78, 78, 78);
    padding: 10px;
    border-radius: 5px;
}

