.header img {
  width: 100%;
  height: auto;
  display: block;
}

.avaliar-container {
  max-width: 600px;
  margin: 0 auto;
  color: white;
  padding: 120px 20px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.avaliar-texto .title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}


.avaliar-texto .descricao {
  font-size: 32px;
  line-height: 1.5;
}